<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ssm.shop.mapper.CartMapper">
    <resultMap id="BaseResultMap" type="com.example.ssm.shop.entity.Cart">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="product_id" property="productId"/>
        <result column="create_time" property="createTime"/>
        <association property="user" javaType="com.example.ssm.shop.entity.User">
            <id property="id" column="user_id" />
            <result property="username" column="username"/>
            <result property="displayName" column="displayName"/>
        </association>
        <association property="product" javaType="com.example.ssm.shop.entity.Product">
            <id property="id" column="product_id" />
            <result property="name" column="product_name"/>
            <result property="currentPrice" column="current_price"/>
            <result property="status" column="status"/>
        </association>
    </resultMap>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
            id, user_id, product_id, create_time
        FROM
            `cart`
        WHERE
            id = #{id}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
       DELETE 
       FROM
         `cart`
       WHERE
         id = #{id}
    </delete>

    <delete id="deleteCartOfExpireProduct">
        DELETE
        FROM
            `cart`
        WHERE
            product_id IN ( SELECT id FROM `product` WHERE end_time &lt;= now( ) )
    </delete>

    <delete id="deleteByProductId">
        DELETE
        FROM
            `cart`
        WHERE
            product_id = #{value}
    </delete>

    <delete id="deleteByUserId">
          DELETE
          FROM
            `cart`
          WHERE
            user_id = #{userId}
    </delete>

    <insert id="insert" parameterType="com.example.ssm.shop.entity.Cart" useGeneratedKeys="true"
            keyProperty="id">
       INSERT INTO `cart`
        ( user_id,  product_id, create_time)
        VALUES
	    ( #{userId}, #{productId}, #{createTime})
    </insert>

    <update id="update" parameterType="com.example.ssm.shop.entity.Cart">
        update
        `cart`
        <set>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="productId != null">product_id = #{productId},</if>
        </set>
        where id = #{id}
    </update>

    <select id="findAll" parameterType="com.example.ssm.shop.entity.Cart" resultMap="BaseResultMap">
        SELECT
            c.id, c.user_id, c.product_id, c.create_time,
            u.id user_id, u.username username, u.display_name display_name,
            c.product_id product_id, p.name product_name, p.status status, p.current_price current_price
        FROM
            `cart` c
        LEFT JOIN  `user` u ON c.user_id = u.id
        LEFT JOIN  `product` p ON c.product_id = p.id
        ORDER BY c.create_time  DESC
    </select>

    <select id="findByUserIdAndProductId" resultMap="BaseResultMap">
        SELECT
            id, user_id, product_id, create_time
        FROM
            `cart`
        WHERE
            user_id = #{userId} AND product_id = #{productId}
        LIMIT 1
    </select>

    <select id="findByUserId" resultMap="BaseResultMap">
         SELECT
            c.id, c.user_id, c.product_id, c.create_time,
            u.id user_id, u.username username, u.display_name display_name,
            c.product_id product_id, p.name product_name, p.status status, p.current_price current_price
        FROM
            `cart` c
        LEFT JOIN  `user` u ON c.user_id = u.id
        LEFT JOIN  `product` p ON c.product_id = p.id
        WHERE
            c.user_id = #{userId}
        ORDER BY c.create_time  DESC
    </select>

    <select id="countByUserId" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
            `cart`
        WHERE
            user_id = #{userId}
    </select>

</mapper>